* {
  margin: 0px;
  padding: 0px;
}

html, body {
  background-color: #4B5C6B;
  
}

/* header */
#header {
  width: 100%;
  height: 40px;
  background-color: #F7C325;
}

/* h1 in header */
#header-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color:  #293845;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

/* flexbox wrapper */
#wrapper {
  display: flex;
}

/* sidebar */
#sidebar {
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 200px;
  background-color: #E8833A;
  flex-direction: column;
  
}

#sidebar-button-div {
  display: flex;
  flex-direction: column;
}

/* h2 in sidebar */
.navButton {
  font-family: 'Raleway', sans-serif;
  background-color: #E8833A;
  border: none;
  font-size: 20px;
  color: #fff;
  display: block;
  padding: 10px;
}

.navButton:hover{
  cursor: pointer;
  opacity: .5;
}

/* main content */
#main-content {
  flex-direction: column;
  width: 100%;
  background-color: #4B5C6B;
  height: 100%;
}

/* h1 in maincontent */
#maincontent-h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 25px;
  font-size: 25px;
}

#urlID {
  display: block;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  border-radius: 2%;
}

#urlID:focus {
  background-color: lightblue;
}

#imageNameID {
  display: block;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-top: 10px;
  border-radius: 2%;
}

#imageNameID:focus {
  background-color: lightblue;
}

#description {
  display: block;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-top: 10px;
  border-radius: 2%;
  resize: none;
}

#description:focus {
  background-color: lightblue;
}

#submitButton {
  text-align: center;
  margin-left: 25%;
  margin-top: 10px;
  padding: 10px;
}

#submitButton:hover {
  background-color: lightgreen;
}

/* image-wrapper */
#image-wrapper {
  text-align: center;
}

img {
  position: relative;
  width: 70%;
  height: 20%;
  padding: 20px;
}

/* remove button */
.removeButtonClass {
  border: none;
  background-color: transparent;
  color: white;
  width: 60px;
  height: 20px;
  left: 26%;
  top: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: black;
}

.removeButtonClass:hover {
  color: #b53737;
  cursor: pointer;
}

.card {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
 
  transition: 0.3s;
  border: 1px solid black;
  width: 20%;
}

.card:hover {
  box-shadow: 0 8px 30px 20px rgba(255, 255, 255, 0.2);
}
#file-input {
  width: 21%;
  margin-left: 2%;
}
#file-display {
  margin-top: -5%;
  width: 25%;
  margin-left: 55%;
}
