* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%
}

/* header */
#header {
  width: 100%;
  height: 40px;
  background-color: #F7C325;
}

/* h1 in header */
#header-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color:  #293845;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

/* flexbox wrapper */
#wrapper {
  display: flex;
}

/* sidebar */
#sidebar {
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 200px;
  flex-direction: column;
  background-color: #E8833A;
}

/* h2 in sidebar */
.sbH2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  font-size: 15px;
  color: #fff;
}

/* main content */
#main-content {
  flex-direction: column;
  width: 100%;
  background-color: #4B5C6B;
  height: 100vh;
}

/* h1 in maincontent */
#maincontent-h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 25px;
  font-size: 25px;
}



