* {
  margin: 0px;
  padding: 0px;
}

html, body {
  background-color: #4B5C6B;
  
}

/* header */
#header {
  width: 100%;
  height: 40px;
  background-color: #F7C325;
}

/* h1 in header */
#header-h1 {
  margin: auto;
  padding: 10px;
  width: 30%;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color:  #293845;
  text-align: center;
  font-weight: bold;
}
#login-div {
  position: absolute;
  display: inline-block;
  width: 30%;
  
}
#login-header {
  font-size: 15px; 
}
#user-icon {
  width: 37px;
  height: 37px;
  margin: 3px;
  padding: 0;
}

/* flexbox wrapper */
#wrapper {
  display: flex;
}

/* sidebar */
#sidebar {
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 200px;
  background-color: #E8833A;
  flex-direction: column;
  
}

#sidebar-button-div {
  display: flex;
  flex-direction: column;
}

/* h2 in sidebar */
.navButton, #login-button {
  font-family: 'Raleway', sans-serif;
  background-color: #E8833A;
  border: none;
  font-size: 20px;
  color: #fff;
  display: block;
  padding: 10px;
}

.navButton:hover, #login-button:hover {
  cursor: pointer;
  opacity: .5;
}

/* main content */
#main-content {
  flex-direction: column;
  width: 100%;
  background-color: #4B5C6B;
  height: 100%;
}

/* h1 in maincontent */
#maincontent-h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 25px;
  font-size: 25px;
}

#formWrapper{
  border-radius: 5px;
  background-color: rgb(96, 118, 138);
  margin: 10px;
}

#urlID {
  display: block;
  width: 80%;
  text-align: center;
  padding: 12px 20px;
  margin-left: 10%;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#urlID:focus {
  background-color: lightblue;
}

#imageNameID {
  display: block;
  width: 80%;
  text-align: center;
  padding: 12px 20px;
  margin-left: 10%;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#imageNameID:focus {
  background-color: lightblue;
}

#description {
  display: block;
  width: 80%;
  text-align: center;
  padding: 12px 20px;
  margin-left: 10%;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

#description:focus {
  background-color: lightblue;
}

#submitButton {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: 10%;
  margin-top: 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

#submitButton:hover {
  background-color: lightgreen;
}

#dropdownList{
  width: 30%;
  margin-left: 35%;
}


/* image-wrapper */
#image-wrapper {
  text-align: center;
}

img {
  position: relative;
  width: 70%;
  height: 20%;
  padding: 20px;
}

/* remove button */
.removeButtonClass {
  border: none;
  background-color: transparent;
  color: white;
  width: 60px;
  height: 20px;
  left: 26%;
  top: 26px;
  margin-top: 6px;
  margin-bottom: 5px;
  border: none;
  background-color: #837a7a;
}

.removeButtonClass:hover {
  background-color: black;
  cursor: pointer;
}

/* card */
.card {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
  border: 2px solid black;
  width: 20%;
  word-wrap: break-word;
}

.card:hover {
  box-shadow: 0 8px 30px 20px rgba(255, 255, 255, 0.2);
}

/* Log in modal and image modal*/
.modal, #image-modal, #galleryModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /*Enable scroll if needed*/
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content, .imageRefModal {
  background-color: #F7EAE1;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 30%;
  border-radius: 5px
}

/* gallery modal*/
.modal-content-gallery {
  width: 40%;
  background-color: rgb(245, 224, 227);
  margin: 15% auto;
  padding-bottom: 30px;
  border: 2px solid rgb(255, 123, 0);
}

.modal-content-gallery input{
  width: 70%;
  padding: 20px;
  text-align: center;
  margin-left: 18%;
  margin-top: 10%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2%;
  font-size: 20px;
}

.modal-content-gallery button{
  width: 30%;
  margin-left: 36%;
  margin-top: 5%;
  padding: 20px;
  background-color: rgb(255, 123, 0);
  border: none;
  display: block;
  color: white;
  font-size: 18px;
  box-shadow: 0 3px 10px 2px rgb(110, 109, 109);
}

.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Raleway';
  margin-top: -14px;
  margin-right: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#login {
  width: 100%;
  padding: 8px 0px;
  margin-top: 45px;
  background-color:#4B5C6B;
  color: white;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 16px;
}

#login:hover {
  background-color:#F7C325;
  color:#4B5C6B;
  cursor: pointer;
  transition: 0.3s;
}

.modal-content input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.modal-content input:focus {
  border-color: #4B5C6B;
}

.modal-content p {
  font-family: 'Raleway';
  font-size: 12px;
  text-transform: uppercase;
}

/* image modal and adds animation to it */
.imageRefModal {
  background-color: transparent;
  width: 60vh;
  height: 60vh;
  position: absolute;
  margin-left: -14%;
  margin-top: 1%;
  -webkit-animation-name: zoom; 
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  margin-bottom: 6%;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.imgMetaName{
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin-top: 500px;
}
.imgMetaText{
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
#newNameInput{
  background-color: white;
  color: black;
  padding: 15px;
  width: 200px;
  display: block;
  position: absolute;
  margin-left: 44%;
}
#newTextInput{
  display: block;
  position: absolute;
  background-color: white;
  color: black;
  margin-left: 44%;
  margin-top: 70px;
  padding: 5px;
  width: 242px;
  resize: none;
}

.modalSubmit{
  position: absolute;
  margin-top: 150px;
  margin-left: -1%;
  padding: 10px;
  width: 100px;
  background-color:#4CAF50;
  color: white;
  border: none;
  border-radius: 2%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.modalSubmit:hover {
  background-color: green;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.imgNameClass{
  font-size: 30px;
}

#styleButtonWrapper{
  position: absolute;
  margin-left: 49%;
  margin-top: 615px;
}

.bold{
  font-weight: bold;
  padding: 5px;
  margin-right: 5px;
}
.Underline{
  text-decoration: underline;
  padding: 5px;
}
.fontSize{
  text-transform: uppercase;
  padding: 5px;
  margin-left: 5px;

}

#file-input {
  width: 21%;
  margin-left: 2%;
}
#file-display {
  margin-top: -2%;
  width: 25%;
  margin-left: 20%;
}

#emailError{
  color: rgb(194, 10, 10);
  font-weight: bold;
  text-align: center;

}
#pswError{
  color: rgb(194, 10, 10);
  font-weight: bold;
  text-align: center;

}
#loginSuccessMsg{
  font-weight: bold;
  text-align: center;
  color: green;
}
#loginFail{
  font-weight: bold;
  text-align: center;
  color: rgb(194, 10, 10);
}

/* Gallery screen */
#galleryContainer {
  display: flex;
  width: 100%;
  height: 600px;
}

#gallerySectionLeft {
  border-right: 5px solid #788896;
  display: inline-block;
  width: 80%;
  height: 500px;
}

#gallerySectionRight {
  display: inline-block;
  width: 100%;
  height: 600px;
}

/* Buttons for left gallery section */
.gallery-buttons {
  display: block;
  background-color:#fff;
  color:#293845;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 40px;
  border: none;
  border-radius: 3px;
  width: 200px;
  padding: 20px; 
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 4px solid transparent;
}

.gallery-buttons:hover {
  border-bottom: 4px solid #e8833a;
}

/* create gallery button */
#gallery-button3 {
  float: right;
  background-color:#e8833a;
  font-family: 'Raleway';
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
  margin-right: 40px;
  border: none;
  border-radius: 3px;
  width: 260px;
  padding: 18px;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

#import-button {
  font-size: 25px;
}

#gallery-button3:hover {
  background-color: #F7C325;
}
#toggle-button {
  display: block;
  position: absolute;
  padding: 8px;
  right: 30px;
}
.metaContainer {
  display: block;
}
/* Import images button */
#import-images-button {
  background-color:#61b865;
  color: #fff;
  font-family: 'Raleway';
  border: 4px solid #447e47;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px;
  margin: 17px;
  margin-top: 3px;
}

#import-images-button:hover {
  background-color: #7ae77f;
}

