* {
  margin: 0px;
  padding: 0px;
}

html, body {
  background-color: #4B5C6B;
  
}

/* header */
#header {
  width: 100%;
  height: 40px;
  background-color: #F7C325;
}

/* h1 in header */
#header-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color:  #293845;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

/* flexbox wrapper */
#wrapper {
  display: flex;
}

/* sidebar */
#sidebar {
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 200px;
  background-color: #E8833A;
  flex-direction: column;
  
}

#sidebar-button-div {
  display: flex;
  flex-direction: column;
}

/* h2 in sidebar */
.navButton, #login-button {
  font-family: 'Raleway', sans-serif;
  background-color: #E8833A;
  border: none;
  font-size: 20px;
  color: #fff;
  display: block;
  padding: 10px;
}

.navButton:hover, #login-button:hover {
  cursor: pointer;
  opacity: .5;
}

/* main content */
#main-content {
  flex-direction: column;
  width: 100%;
  background-color: #4B5C6B;
  height: 100%;
}

/* h1 in maincontent */
#maincontent-h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 25px;
  font-size: 25px;
}

#formWrapper{
  border-radius: 5px;
  background-color: rgb(96, 118, 138);
  margin: 10px;
}

#urlID {
  display: block;
  width: 80%;
  text-align: center;
  padding: 12px 20px;
  margin-left: 10%;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#urlID:focus {
  background-color: lightblue;
}

#imageNameID {
  display: block;
  width: 80%;
  text-align: center;
  padding: 12px 20px;
  margin-left: 10%;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#imageNameID:focus {
  background-color: lightblue;
}

#description {
  display: block;
  width: 80%;
  text-align: center;
  padding: 12px 20px;
  margin-left: 10%;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

#description:focus {
  background-color: lightblue;
}

#submitButton {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: 10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

#submitButton:hover {
  background-color: lightgreen;
}

/* image-wrapper */
#image-wrapper {
  text-align: center;
}

img {
  position: relative;
  width: 70%;
  height: 20%;
  padding: 20px;
}

/* remove button */
.removeButtonClass {
  border: none;
  background-color: transparent;
  color: white;
  width: 60px;
  height: 20px;
  left: 26%;
  top: 26px;
  margin-top: 6px;
  margin-bottom: 5px;
  border: none;
  background-color: #837a7a;
}

.removeButtonClass:hover {
  background-color: black;
  cursor: pointer;
}

/* card */
.card {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
  border: 1px solid black;
  width: 20%;
  word-wrap: break-word;
}

.card:hover {
  box-shadow: 0 8px 30px 20px rgba(255, 255, 255, 0.2);
}

/* Log in modal and image modal*/
.modal, #image-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /*Enable scroll if needed*/
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content, #image-modal-content {
  background-color: #F7EAE1;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 30%;
  border-radius: 5px
}

.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Raleway';
  margin-top: -14px;
  margin-right: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#login {
  width: 100%;
  padding: 8px 0px;
  margin-top: 45px;
  background-color:#4B5C6B;
  color: white;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 16px;
}

#login:hover {
  background-color:#F7C325;
  color:#4B5C6B;
  cursor: pointer;
  transition: 0.3s;
}

.modal-content input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.modal-content input:focus {
  border-color: #4B5C6B;
}

.modal-content p {
  font-family: 'Raleway';
  font-size: 12px;
  text-transform: uppercase;
}

/* image modal and adds animation to it */
#image-modal-content {
  background-color: transparent;
  height: 80vh;
  width: 80vh;
  -webkit-animation-name: zoom; 
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

#file-input {
  width: 21%;
  margin-left: 2%;
}
#file-display {
  margin-top: -2%;
  width: 25%;
  margin-left: 20%;
}

#emailError{
  color: rgb(194, 10, 10);
  font-weight: bold;
  text-align: center;

}
#pswError{
  color: rgb(194, 10, 10);
  font-weight: bold;
  text-align: center;

}
#loginSuccessMsg{
  font-weight: bold;
  text-align: center;
  color: green;
}
#loginFail{
  font-weight: bold;
  text-align: center;
  color: rgb(194, 10, 10);
}
